@import "../../styles/variables";
.coupon_wrape {
  margin-bottom: 3rem;
  .titleCoupon {
    color: $heading-color;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  .form-control {
    padding: calc(0.375rem + 2px) calc(0.75rem + 2px);
    border: 1px solid $border-color;
    background: $bg-color;
    border-radius: 20px;
    color: $black;
    &::placeholder {
      color: rgba(91, 108, 143, 0.5);
    }
    &:focus {
      box-shadow: none;
      border: 1px solid $primary-color;
    }
  }
  .coupon_apply-btn {
    border-radius: 40px;
    font-size: 16px;
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: $white;
    text-transform: capitalize;
    font-weight: 500;
    padding: 0.5rem 2rem;
    @media #{$sm} {
      margin-top: 1rem;
    }
    &:hover {
      color: $secondary-color;
      background: $white;
    }
    &:focus {
      box-shadow: none;
      outline: 0;
    }
  }
}
