@import "../../../styles/variables";
#wishlist_empty {
  .main_title {
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 2rem;
    color: $heading-color;
    @media #{$xsm} {
      font-size: 25px;
      text-align: center;
    }
    @media #{$lsm} {
      font-size: 25px;
    }
    @media #{$md} {
      font-size: 28px;
    }
  }
  .wrapper-empty {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
