// Colors ---------------

$discount_color: #f80e0e;
$discount_del_color: #969696;
$heading-color: #042622;
$para_color: #5d7471;
$bg-color: #fbf7f3;
$footer_text_color: #5b6c8f;
$footer_hover_color: #fd8d27;
$light-gray: #f1f1f1;
$border-color: #dedede;
// $secondary-color: #3db2ff;
// $primary-color: #103178;
$primary-color: #b97748;
$secondary-color: #036c5f;
$text-secondary: #eddcc0;
$white: #ffffff;
$black: #000000;
$sub-heading-color: #333333;
$sub-para-color: #555555;
$lightgray: #f0f0f0;
$mandy: #e65550;
$brightsun: #ffc849;
$spray: #61d6ef;
$cornflower-blue: #6862ef;
$category-bg: #eeeeee;
$featured_title: #003d4d;
$feature_color: #e3f5e5;
$adr-color: #3366cc;
$checked-color: #12a05c;
// Responsive Variables
$xxl: "(min-width: 1600px)";
$xl: "only screen and (min-width: 1200px) and (max-width: 1599px)";
$lg: "only screen and (min-width: 992px) and (max-width: 1199px)";
$md: "only screen and (min-width: 768px) and (max-width: 991px)";
$mdsm: "(max-width: 991px)";
$sm: "(max-width: 767px)";
$lsm: "only screen and (min-width: 576px) and (max-width: 767px)";
$xsm: "(max-width: 575px)";
$tiny: "(max-width: 399px)";

//spacing
$v-sp-lg: 2rem;
$v-sp-sm: 1rem;
